---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background-color: #fcfcf2;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
}

.wrapper {
    max-width: 600px;
}

.site-header {
    border: none;
    min-height: $spacing-unit * 1.865;
}

.site-title:link,
.site-title:visited,
.site-title:hover,
.site-title:active {
    color: #9D4A07;
    font-weight: 800;
    text-decoration: none;
}

.page-content {
    padding: 0;
}

img + em {
    font-size: 0.8em;
}
