---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background-color: #fcfcf2;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.post-link,
.post-title {
    margin: 0;
    font-size: 24px;
    line-height: 2em;
    font-variant: normal;
    letter-spacing: 0;
}

.post-link,
.post-link:visited,
.read-more,
.read-more:visited {
    color: #222;
}

.post-link:hover {
    text-decoration: none;
}

img {
    margin: 0;
}

.wrapper {
    max-width: 600px;
}

.site-header {
    border: none;
    min-height: $spacing-unit * 1.865;
    text-transform: lowercase;
}

.site-title:link,
.site-title:visited,
.site-title:hover,
.site-title:active {
    color: #9D4A07;
    font-weight: 800;
    text-decoration: none;
}

.projects a#projects {
    text-decoration: underline;
    text-decoration-color:tomato;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

#projects {
    text-decoration-color: tomato;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

.about a#about {
    text-decoration: underline;
    text-decoration-color:skyblue;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

#about {
    text-decoration-color: skyblue;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

.blog #blog {
    text-decoration: underline;
    text-decoration-color: darkmagenta;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

#blog {
    text-decoration-color: darkmagenta;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

#github {
    text-decoration-color: seagreen;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

#contact {
    text-decoration-color: goldenrod;
    text-decoration-thickness: 2px;
    text-underline-offset:3px;
}

.page-content {
    margin-top: 2em;
    padding: 0;
}

.education p {
    margin: 0;
}

img + em {
    font-size: 0.8em;
}

.blog h3 {
    margin: 0;
}

.post-meta {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
}

.post-list li {
    margin-bottom: 4em;
}

.post-list li p {
    display: block;
    margin-top: 10px;
}

.post-header {
    margin: 0;
}

.rss-subscribe a {
    color: goldenrod;
}

.site-nav {
    background-color: #fcfcf2;
    border: none;
}

@include media-query($on-palm) {
    .site-title {
        float: none;
    }

    .site-nav {
        float: none;
        display: block;
        line-height: 20px;
        font-size: 14px;
    }
}